#!/usr/bin/env bash

set -o errexit

trap 'echo "Aborting script due to errexit on line $LINENO. Exit code: $?" >&2' ERR

set -o nounset
set -o pipefail

KIOSK_URL="{{ kiosk_url }}"

wait_for_url() {
  echo "Checking for connectivity to URL: $1"
  timeout --foreground -s TERM 30s bash -c \
    'while [[ "$(curl -s -o /dev/null -m 3 -L -w ''%{http_code}'' ${0})" != "200" ]];\
    do echo "Waiting for ${0}" && sleep 5;\
    done' ${1}
  echo "${1} - OK!"
}

# wait for connection
wait_for_url "{{ kiosk_url }}"

# disable display power management system (disables automatic standby that could disrupt the display)
xset -dpms

# turn off screen blanking
xset s noblank

# turn off screensaver
xset s off

# support terminating the x server with the ctrl+alt+backspace hotkey sequence
setxkbmap -option terminate:ctrl_alt_bksp

# setup log paths
LOGS_PATH="$HOME/kiosk-debug"
DISPLAY_LOG="$LOGS_PATH/display-xrandr.log"

# write diagnostic/troubleshooting logs
mkdir -p $LOGS_PATH
echo "------------" > $DISPLAY_LOG
echo "xrandr -q output"
echo "------------" >> $DISPLAY_LOG
xrandr -q >> $DISPLAY_LOG
echo "------------" >> $DISPLAY_LOG
echo "xrandr output" >> $DISPLAY_LOG
echo "------------" >> $DISPLAY_LOG
xrandr >> $DISPLAY_LOG
echo "------------" >> $DISPLAY_LOG
xinput list > $LOGS_PATH/xinput-list.log
xdpyinfo > $LOGS_PATH/xdpyinfo.log
echo $DISPLAY > $LOGS_PATH/env-DISPLAY.log

# docs for using xrandr to set specific resolution and refresh rate:
# https://wiki.ubuntu.com/X/Config/Resolution

# start pulseaudio
killall pulseaudio > /dev/null 2>&1
start-pulseaudio-x11

# hide mouse cursor with unclutter utility
killall unclutter > /dev/null 2>&1
unclutter -idle 0 -root &

# launch chromium with a series of flags that support the kiosk use-case
#
# - depending on your hardware, the required values for various flags (e.g. window-size, alsa-output-device) may differ
# - removing the `--kiosk \` and `--disable-infobars \` flags can be helpful for dev + testing scenarios
# - the flags assume a private deployment (i.e. kiosk not in public); please be aware that certain flags/values may impact security

chromium-browser $KIOSK_URL \
  --kiosk \
  --incognito \
  --allow-file-access-from-files \
  --window-position=0,0 \
  --window-size={{ display_width }},{{ display_height }} \
  --force-device-scale-factor=1.0 \
  --start-fullscreen \
  --fast \
  --fast-start \
  --audio-buffer-size=4096 \
  --alsa-output-device="plughw:CARD=Device,DEV=0" \
  --no-first-run \
  --noerrdialogs \
  --overscroll-history-navigation=0 \
  --disable-infobars \
  --disable-pinch \
  --disable-translate \
  --disable-features=TranslateUI,TouchpadOverscrollHistoryNavigation \
  --disable-breakpad \
  --disable-popup-blocking \
  --disable-sync \
  --password-store=basic
